<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Notes</title>
    <style type="text/css">
    @import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@700&display=swap');
        h1 {
        margin-top: 130px;
        font-family : Gaegu;
        color: #edeb5c;
        }

        .table1 {
        font-family : Gaegu;
        color: #444;
        width: 50%;
        margin-top: 50px;
        }

        .table1 tr th {
        background: #cf6727;
        color: #fff;
        font-weight: normal;
        }

        .table1, th, td {
        padding: 8px 40px;
        text-align: center;
        }

        .table1 tr {
        background: #e8c1a9;
        }

    </style>
</head>
<body style = "background-color: #2e538f">
<center>
<h1>Notes</h1>
<table class="table1">
    <tr>
        <th>to</th>
        <th>from</th>
        <th>title</th>
        <th>message</th>
    </tr>
    {% if note %}
    {% for notes in note %}
    <tr>
        <td> {{ notes.to }} </td>
        <td> {{ notes.dari }} </td>
        <td> {{notes.title }} </td>
        <td> {{notes.message }} </td>
    </tr>
    {% endfor %}
    {% endif %}
</table>
</center>
</body>
</html>