<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Note Form</title>
    <style type="text/css">
    @import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@700&display=swap');
    p {
        font-family : Gaegu;
        color: #edeb5c;
    }
    </style>
</head>
<body style = "background-color: #2e538f">
<form action="" method="POST">
    {% csrf_token %}
    <p>to: {{form.to}}</p>
    <p>from: {{form.dari}}</p>
    <p>title: {{form.title}}</p>
    <p>message: {{form.message}}</p>
    <input type="submit" value="Submit">
</form>
</body>
</html>
