<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Note List</title>
    <style type="text/css">
    @import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@700&display=swap');
    p {
        font-family : Gaegu;
    }
    h5 {
        font-family : Gaegu;
    }
    </style>
</head>
<body style = "background-color: #2e538f">
<center>
{% if note %}
{% for notes in note %}
<br>
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">to: {{notes.to}}</h5>
        <p class="card-text">from: {{notes.dari}}</p>
        <p class="card-text">title: {{notes.title}}</p>
        <p class="card-text">message: {{notes.message}}</p>
    </div>
    {% endfor %}
    {% endif %}
</div>
</center>
</body>
</html>

