<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Note List</title>
    <style>
        body {
            text-align: center;
            align-items: center;
            background-color: rgb(151, 201, 241);
        }
        h1 {
            color: rgb(0, 3, 2);
        }
        table {
        border-collapse: collapse;
        width: 1000px;
        margin: auto;
        table-layout: fixed;
        overflow-wrap: break-word;
        text-align: justify;
        }

        td {
          text-align: center;
          border: 2px solid;
        }

        th {
          text-align: center;
          border: 2px solid;
          background-color: rgb(192, 119, 226);
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <a href="/lab-4"> Home</a>
    <a href="add-note"> Add Note</a>
    <a href="note-list"> Note List</a>
    <h1>Note List</h1>
<table border = "1">
    <tr>
        <th>to</th>
        <th>from</th>
        <th>title</th>
        <th>message</th>
    </tr>
    {% if note %}
    {% for notes in note %}
    <tr>
        <td> {{ notes.to }} </td>
        <td> {{ notes.dari }} </td>
        <td> {{ notes.title }} </td>
        <td> {{ notes.message }} </td>
    </tr>
    {% endfor %}
    {% endif %}
</table>
</body>
</html>