<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Add Friend</title>
    <style> th{color: rgb(205, 92, 92);}</style>
</head>
<body style = "background-color:rgb(205, 92, 92)">
<form action="" method="POST">
    {% csrf_token %}
    Nama: {{form.name}}
    </br>
    NPM: {{form.npm}}
    </br>
    Date of Birth: {{form.dob}}
    </br>
<!--    {{form.as_p}}-->
    <input type="submit" value="Submit">
</form>
</body>
</html>
