<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Notes</title>
</head>
<body>
<table border = "1">
    <tr>
        <th>to</th>
        <th>from</th>
        <th>title</th>
        <th>message</th>
    </tr>
    {% if note %}
    {% for notes in note %}
    <tr>
        <td> {{ notes.to }} </td>
        <td> {{ notes.dari }} </td>
        <td> {{notes.title }} </td>
        <td> {{notes.message }} </td>
    </tr>
    {% endfor %}
    {% endif %}
</table>
</body>
</html>